<div class="signup-container">
    <div class="signup-box">
      <img src="/images/enset_logo.png" class="logo" />
      <div class="school-text">
        ECOLE NORMALE SUPÉRIEURE DE L'ENSEIGNEMENT TECHNIQUE DE MOHAMMEDIA<br />
        UNIVERSITÉ HASSAN II DE CASABLANCA
      </div>
      <form (ngSubmit)="onSignup()">
        <input type="text" [(ngModel)]="username" name="username" class="input-field" placeholder="Login" required />
        <input type="text" [(ngModel)]="name" name="name" class="input-field" placeholder="Name" required />
        <input type="password" [(ngModel)]="password" name="password" class="input-field" placeholder="Password" required />
        <button type="submit" class="sign-up-btn">Sign Up</button>
      </form>
      <p *ngIf="error" class="error">{{ error }}</p>
      <div class="signin-link">
        <a routerLink="/login">Already registered ? Click to sign in !!</a>
      </div>
    </div>
  </div>
  